@import '../node_modules/modern-normalize/modern-normalize.css';
/* Reset styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*!----------- custom expansion -------------*/
input,
textarea {
  outline: transparent;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Regular.woff2") format("woff2"), url("../fonts/Lufga-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Bold.woff2") format("woff2"), url("../fonts/Lufga-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Light.woff2") format("woff2"), url("../fonts/Lufga-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Medium.woff2") format("woff2"), url("../fonts/Lufga-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-SemiBold.woff2") format("woff2"), url("../fonts/Lufga-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Regular.woff2") format("woff2"), url("../fonts/Urbanist-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Bold.woff2") format("woff2"), url("../fonts/Urbanist-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Medium.woff2") format("woff2"), url("../fonts/Urbanist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-SemiBold.woff2") format("woff2"), url("../fonts/Urbanist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.header__container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding: 0 71px;
  }
}
@media (min-width: 1440px) {
  .header__container {
    max-width: 1440px;
    padding: 0 71px;
  }
}

.header__btn-link {
  border-radius: 60px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: -0.01em;
}

.blog__card-info {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
}

.main-title {
  font-family: "Urbanist", "Arial", sans-serif;
  font-size: 96px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
}

.section-title {
  font-family: "Lufga", "Arial", sans-serif;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: normal;
}

/*HEADER-START*/
.header__nav {
  background-color: #171717;
  border-radius: 50px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
}
.header__btn-link {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
}
.header__btn-link--accent {
  font-weight: 700;
  background-color: #fd853a;
}

/*HEADER-END*/