@import '../node_modules/modern-normalize/modern-normalize.css';
/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*!----------- custom expansion -------------*/
input,
textarea {
  outline: transparent;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Regular.woff2") format("woff2"), url("../fonts/Lufga-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Bold.woff2") format("woff2"), url("../fonts/Lufga-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Light.woff2") format("woff2"), url("../fonts/Lufga-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Medium.woff2") format("woff2"), url("../fonts/Lufga-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-SemiBold.woff2") format("woff2"), url("../fonts/Lufga-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Regular.woff2") format("woff2"), url("../fonts/Urbanist-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Bold.woff2") format("woff2"), url("../fonts/Urbanist-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Medium.woff2") format("woff2"), url("../fonts/Urbanist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-SemiBold.woff2") format("woff2"), url("../fonts/Urbanist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.header__container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding: 0 71px;
  }
}
@media (min-width: 1440px) {
  .header__container {
    max-width: 1440px;
    padding: 0 71px;
  }
}

.header__btn-link {
  border-radius: 60px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  letter-spacing: -0.01em;
}

.main-title {
  font-family: "Urbanist", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
}
@media (min-width: 768px) {
  .main-title {
    font-size: 64px;
  }
}
@media (min-width: 1440px) {
  .main-title {
    font-size: 95px;
  }
}

.section-title {
  font-family: "Lufga", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.01em;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}
@media (min-width: 1440px) {
  .section-title {
    font-size: 64px;
  }
}

.test-map-use {
  background-color: #040404;
}

.test-map-use-02 {
  background-color: #e7e7e7;
}

.test-if {
  color: red;
}

p {
  color: blue;
}

.title-hero {
  font-size: 64px;
  font-weight: 500;
  color: #040404;
}

.title-about-us {
  font-size: 40px;
  font-weight: normal;
  color: #060606;
}

.btn-hero {
  background-color: aqua;
  padding: 12px 24px;
  border: 1px solid yellow;
  border-radius: 8px;
}

.error .btn-form {
  background-color: grey;
}

.btn-hero, .btn-comments {
  margin-bottom: 8px;
}

.btn-comments {
  background-color: #257e7e;
  padding: 12px 24px 12px 40px;
  border: none;
  border-radius: 12px;
}

.btn-hero {
  background-color: aqua;
  padding: 12px 24px;
  border: 1px solid yellow;
  border-radius: 8px;
}

.my-test-class {
  letter-spacing: 0.0210526316em;
}

/*HEADER-START*/
.header__nav {
  background-color: #171717;
  border-radius: 50px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.header__btn-link {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
}
.header__btn-link--accent {
  font-weight: 700;
  background-color: #fd853a;
}

/*HEADER-END*/
.btn-primary {
  background-color: #f0f0f0;
}

.btn-primary {
  background-color: #e8e8e8;
}