%container-params {
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 71px;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 71px;
  }
}

%btn {
  border-radius: 60px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  letter-spacing: -0.01em;
}

%comment-text {
  @include font-params($ff-inter, 20px, 400);
}

// .main-title {
//   @include font-params($ff-urbanist, 96px, 600);
// }

// .section-title {
//   @include font-params($ff-lufga, 64px, 500);
// }

// .blog {
//   &__card-info {
//     @extend %comment-text;
//   }
// }

.main-title {
  @include titleParams(h1);
}

.section-title {
  @include titleParams(h2);
}
