@mixin font-params(
  $family,
  $size,
  $weight,
  $letter-spacing: normal,
  $line-height: normal
) {
  font: {
    family: $family;
    size: $size;
    weight: $weight;
  }
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin font_face(
  $family,
  $url,
  $weight: normal,
  $style: normal,
  $display: swap
) {
  @font-face {
    font-family: $family;
    src: url('../fonts/' + $url + '.woff2') format('woff2'),
      url('../fonts/' + $url + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
  }
}

@mixin titleParams($title) {
  @if $title == h1 {
    font: {
      family: $ff-urbanist;
      size: 48px;
      weight: 600;
    }
    line-height: 1;
    letter-spacing: -0.01em;
    @media (min-width: 768px) {
      font-size: 64px;
    }
    @media (min-width: 1440px) {
      font-size: 95px;
    }
  } @else if $title == h2 {
    font: {
      family: $ff-lufga;
      size: 32px;
      weight: 500;
    }
    line-height: 1;
    letter-spacing: -0.01em;
    @media (min-width: 768px) {
      font-size: 48px;
    }
    @media (min-width: 1440px) {
      font-size: 64px;
    }
  } @else if $title == h3 {
    font: {
      family: $ff-lufga;
      size: 24px;
      weight: 500;
    }
    line-height: 1;
    letter-spacing: -0.01em;
    @media (min-width: 768px) {
      font-size: 32px;
    }
    @media (min-width: 1440px) {
      font-size: 48px;
    }
  } @else if $title == h4 {
    font: {
      family: $ff-lufga;
      size: 24px;
      weight: 400;
    }
    line-height: normal;
    letter-spacing: normal;
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 1440px) {
      font-size: 32px;
    }
  } @else {
    @error "Unknown title: use existing title";
  }
}
